header {
    background-color: #000000;
}

#main img {
 width: 100%;
 max-width: 100%;
}

.nav-link  {
    color: #ffffff;
}


.contact {
    text-align: center;
}

#sns ul li {
    list-style: none;
}

#sns ul {
    display: flex;
     justify-content: center;
     margin: 0 auto;
    
}

.container {
    text-align: center;
}

.areaScroll {
  width: 100%;
  height: 300px;
  overflow: scroll;
  border: #000000 5px solid;
}

footer {
    background-color: #000000;
    color: #ffffff;
}

#kyokusin01 h2 {
    text-align: center;
    
}
.area01 ul {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.area01 ul li {
    text-align: center;
    /*overflow: hidden;*/
    padding: 7em 1em 2em 4em;
    text-indent: -5em;
}

.area01 ul li span {
    text-align: left;
    writing-mode: vertical-rl;
    display: inline-block;
    /*box-sizing: border-box;*/
}

.title01 {
    background-color: #d2d200;
}

.title02 {
    background-color: #f0821e;
}


